<content>
  <aside>
    <RenderIf condition="$arePigsEven">
      <h2>All pigs are even!</h2>
    </RenderIf>
  </aside>
  <main>
    <ClickCounter id="clickCounter" />
    <table>
      <thead>
        <tr>
          <th>First pig</th>
          <th>Second pig</th>
          <th>Third pig</th>
          <th>Fourth pig</th>
          <th>Big pig</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td id="firstPig">0</td>
          <td id="secondPig">0</td>
          <td id="thirdPig">0</td>
          <td id="fourthPig">0</td>
          <td id="bigPig">0</td>
        </tr>
      </tbody>
    </table>
  </main>
</content>
