<content>
  <section>
    <main>
      <img src="/public/images/pig.png" usemap="#pig-map" alt="One big pig" />
      <map name="pig-map">
        <area alt="BigPig" title="BigPig" shape="poly" id="bigPig" />
      </map>
    </main>
    <footer>
      <img src="/public/images/pigs.png" usemap="#pigs-map" alt="A lot of pigs" />
      <map name="pigs-map">
        <area alt="FirstPig" title="FirstPig" shape="poly" id="firstPig" />
        <area alt="SecondPig" title="SecondPig" shape="poly" id="secondPig" />
        <area alt="ThirdPig" title="ThirdPig" shape="poly" id="thirdPig" />
        <area alt="FourthPig" title="FourthPig" shape="poly" id="fourthPig" />
      </map>
    </footer>
  </section>
</content>
