<content>
  <div>
    <p id="clickCount">You clicked the button in my parent 0 times</p>
    <render-if condition="display">
      <h4>You clicked more than 5 times!</h4>
    </render-if>
  </div>
</content>

<script>
  const { display = init(false) } = state;

  onAttributeChange["clickcount"] = (newValue) => {
    display.value = newValue > 5;
  };

  onUpdate(() => {
    element("#clickCount").ref.innerText =
      `You clicked the button in my parent ${attributes.clickcount} times`;
  });

  forwarded.parentMethod();
</script>

<!--suppress JSUnusedGlobalSymbols -->
<script content="description">
  export default {
    name: "ClickCounter",
    description: "Click counter",
  };
</script>
