<content>
    <div>
        <ClickCounter id="clickCounter" />
        <table>
            <thead>
                <tr>
                    <th>First pig</th>
                    <th>Second pig</th>
                    <th>Third pig</th>
                    <th>Fourth pig</th>
                    <th>Big pig</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="firstPig">0</td>
                    <td id="secondPig">0</td>
                    <td id="thirdPig">0</td>
                    <td id="fourthPig">0</td>
                    <td id="bigPig">0</td>
                </tr>
            </tbody>
        </table>
    </div>
</content>

<style>
    table {
        border-collapse: collapse;
        background-color: #f0f0f033;
        text-align: center;
        color: white;
        font-size: 1.2rem;
        border-radius: 0.5rem;
    }

    thead tr {
        background-color: #ba571f;
    }

    th,
    td {
        padding: 0.3rem 0.5rem;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>

<!--suppress NpmUsedModulesInstalled -->
<script>
    import consoleTree from "@/modules/consoleTree.pig";

    let $pigsCounter = {
        firstPig: 0,
        secondPig: 0,
        thirdPig: 0,
        fourthPig: 0,
        bigPig: 0,
    };

    $element("#clickCounter").pass({
        updatePigsCounter: (pigName, value) => {
            $pigsCounter = {
                ...$pigsCounter,
                [pigName]: $pigsCounter[pigName] + value,
            };

            $element(`#${pigName}`).innerHTML = $pigsCounter[pigName];
        },
    });
</script>