@import "/public/styles/globals.css";

:host {
  font-family: system-ui, sans-serif;
  padding: 2rem;
  height: 100%;
  width: 100%;
  color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
}
