button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 0.95rem;
  background-color: #ffff;
  border: none;
  color: #000;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease;
}

button:hover {
  background-color: #616161
}

code {
  background: #000;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  font-family: monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 60%;
  min-width: fit-content;
  padding: 2rem;
  background: #00000063;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.d-flex {
  display: flex;
}

.f-column {
  flex-direction: column;
}

.mt-0 {
  margin-top: 0;
}

.gap-1 {
  gap: 1rem;
}

.align-center {
  align-items: center;
}

.w-fit-content {
  width: fit-content;
}

.mt-1 {
  margin-top: 1rem;
}
