<content>
  <nav>
    <img src="/public/images/logo.png" alt="PigletJS Logo" />
    <main>
      <NavLink to="/"
        ><i class="fa fa-home" aria-hidden="true"></i>HomePage</NavLink
      >
      <NavLink to="/pigs"
        ><i class="fa fa-star" aria-hidden="true"></i>Stateful pigs</NavLink
      >
      <NavLink to="/keyGeneration"
        ><i class="fa fa-key" aria-hidden="true"></i>Generate SHA256 via
        API</NavLink
      >
      <NavLink to="/easyPerformance"
        ><i class="fa fa-bolt" aria-hidden="true"></i>Render performance
        test</NavLink
      >
      <NavLink to="/performance"
        ><i class="fa fa-bolt" aria-hidden="true"></i>
        Nested components performance test
      </NavLink>
      <NavLink to="/pageThatDoesNotExist"
        ><i class="fa fa-times" aria-hidden="true"></i>Non-existing
        page</NavLink
      >
      <section>
        <i class="fa fa-ellipsis-h"></i>
        More
        <menu />
      </section>
    </main>
  </nav>
</content>
