<content>
  <div class="d-flex f-column gap-1 align-center">
    <div class="d-flex f-column">
      <button id="callApi">Call api to get current time!</button>
      <p id="apiResult" class="mt-1">Not clicked yet :(</p>
      <button id="hide" class="w-fit-content">
        Change nested component visibility!
      </button>
    </div>
    <c-if condition="display">
      <p>I am visible by default</p>
    </c-if>
    <c-if condition="!nested.object.hide">
      <p>
        If previous element is not visible, I am<br />
        (and I am nested, check <code>NestedComponent.pig.html</code>)!
      </p>
    </c-if>
  </div>
</content>

<script>
  element("#callApi").on("click", function () {
    api("/time").then((value) => {
      element("#apiResult").ref.innerText = value.time;
    });
  });
</script>

<style>
  @import "/public/globals.css";
</style>

<script content="description">
  export default {
    name: "NestedComponent",
    description: "Nested Component",
  };
</script>
