<content>
  <div>
    <p id="clickCount">You clicked the button in my parent 0 times</p>
    <c-if condition="display">
      <h4>You clicked more than 5 times!</h4>
    </c-if>
  </div>
</content>

<style>
  h3 {
    color: blue;
  }
</style>

<script>
  const { display = init(false) } = state;

  onAttributeChange = (newValue, property) => {
    if (property === "clickcount") {
      element("#clickCount").ref.innerText =
        `You clicked the button in my parent ${newValue} times`;
      if (newValue > 5) {
        display.value = true;
      }
    }
  };
</script>
