<content>
  <div>
    <p id="clickCount">You clicked the button in my parent 0 times</p>
    <c-if condition="display">
      <h3>MyBox Component</h3>
    </c-if>
  </div>
</content>

<style>
  h3 {
    color: blue;
    letter-spacing: 10px;
    word-spacing: 30px;
  }
</style>

<script>
  const { display = init(true) } = state;

  onStateChange = (value, property, prevValue) => {
    console.log("State changed in MyBox", value, property, prevValue);
  };

  onAttributeChange = (newValue, property, prevValue) => {
    if (property === "clickcount") {
      element("#clickCount").ref.innerText =
        `You clicked the button in my parent ${newValue} times`;
    }
  };
</script>
